.container {
    height: 800px;
    width: 500; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoconsola {
    background-color: rgb(88, 213, 213);
    height: 590px;
    width: 300px;
    border: 1px solid black;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 5px 5px 20px;
    position: relative;
    display: flex;
    justify-content:center;
}

.borde {
    margin-top: 16px;
    background-color: rgb(53, 72, 58);
    width: 260px;
    height: 280px;
    border: 35px solid black;
    border-bottom: 50px solid black;
    box-sizing: border-box;
    border-radius: 25px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
/* mitad inferior videoconsola */
.mandos{
    height: 550px;
    width: 320px;
    display: flex;
    position: absolute;
}

.direction{
    position: absolute;
    left: 50px;
    top: 350px;
    display: flex;
    margin: auto;
}

#centro{
    font-size: 1em;
    border: 1px solid rgb(112, 95, 95);
    background-color: rgb(95, 91, 91);
    height: 1em;
    width: 1em;
    position: relative;
    top: 30px;
    left: 20px;
}

#centro p, #abajo p, #arriba p, 
#izquierda p, #derecha p{
margin: auto;
text-align: center;
}

#abajo {
    height: 1em;
    width: 1em;
    background-color: rgb(95, 91, 91);
    border: 1px solid;
    border-top: none;
    box-shadow: 1px 1px 5px;
    bottom: 100px;
    border-radius: 20%;
    position: absolute;
    top: 48px;
    left: 20px;
}

#derecha{
    height: 1em;
    width: 1em;
    background-color:  rgb(95, 91, 91);
    border: 1px solid;
    border-left: none;
    box-shadow: 1px -1px 5px;
    border-radius: 20%;
    position: absolute;
    left: 38px;
    top: 30px;
}

#izquierda {
    height: 1em;
    width: 1em;
    background-color:  rgb(95, 91, 91);
    border: 1px solid;
    border-right: none;
    border-radius: 20%;
    position: absolute;
    top: 30px;
    left: 3px;
}

#arriba {
    height: 1em;
    width: 1em;
    background-color:  rgb(95, 91, 91);
    border: 1px solid;
    border-bottom: none;
    box-shadow: 0px -1px 5px;
    display: flex;
    top: 500px;
    border-radius: 20%;
    position: absolute;
    top: 13px;
    left: 20px;
}

/* botones A y B */
.botones{
    position: absolute;
    display: flex;
    right: 50px;
    top: 350px;
}

#a {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid;
    text-align: center;
    background-color: rgb(95, 91, 91);
    position: absolute;
    right: 40px;
    top: 40px;
    box-shadow: 1px 1px 5px;
}

#b {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid;
    top: 15px;
    text-align: center;
    background-color: rgb(95, 91, 91);
    position: absolute;
    right: 5px;
    box-shadow: 1px 1px 5px;
}

#a p, #b p {
    position: relative;
    margin: auto;
    top: 5px;
    text-shadow: 0px 0px 5px;
}

/* botones inferiores */
.selectstart {
    position: absolute;
    display: flex;
    top: 485px;
}

#select {
    height: 5px;
    width: 30px;
    border: 1px solid;
    border-radius: 30%;
    background-color: rgb(95, 91, 91);
    border: 1px solid rgb(112, 95, 95);
    box-shadow: 1px 1px 0px;
    right: 5px;
    position: absolute;
    font-size: 1em;
    text-align: center;
}

#start {
    height: 5px;
    width: 30px;
    border: 1px solid;
    border-radius: 30%;
    background-color:  rgb(95, 91, 91);
    border: 1px solid rgb(112, 95, 95);
    box-shadow: 1px 1px 0px;
    left: 5px;
    position: absolute;
    font-size: 1em;
    text-align: center;
    }
    
    #select p, #start p {
        font-size: 10px;
        margin-top: 20px;
        color: rgb(104, 93, 93);
    }

    .nintendo {
        position: absolute;
        display: flex;
        top: 315px;
        width: 70px;
        height: 12px;
        border: 1px solid  rgb(58, 174, 197);
        border-radius: 30px;
        box-shadow: -1px -1px 5px;
    }

    .nintendo>p {
        font-size: 8px;
        color: rgb(58, 174, 197);
        text-align: center;
        margin: auto;
        margin-top: 1px;
        text-shadow: -1px -1px 5px;
    }

    /* Altavoz inferior */
    .sonido {
        position: absolute;
        display: flex;
        top: 425px;
    }

    .sonido>p {
    left: 100px;
    position: relative;
    line-height: 20px;
    text-shadow: 5px 10px 0px;
        
    }







